/* Color Palette
#04C4D9 - Blue
#025E73 - Dark blue
#84B1D9 - Light blue
#F28080 - Red
*/


/*----------------------GLOBAL----------*/
/*--------Global----------*/
body, header, main, footer, ul{
    margin: 0px;
    padding: 0px;
}
h1{
    color: white;
}
h2{
    color: #04C4D9;
}
*{
    box-sizing: border-box
}

/*--------HR----------*/
.redHR{
    height: 5px;
    width: 150px;
    background-color: #F28080;
    border-radius: 100px;
}
/*--------Buttons----------*/
.button{
    border-radius: 5px;
    height: 52px;
    width: 180px;
    background: linear-gradient(#04C4D9, #84B1D9);
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    box-shadow: 0px 0px 5px;
    margin: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    outline: none;
}
.button-small{
    width: 140px;
    height: 42px;
}
/*--------Header----------*/
.header{
    position: relative;
}
.logo{
    width: 75px;
    float: right;
    position: absolute;
    right: 0px;
}
/*--------Navbar----------*/
nav {
    display: none;
}
nav > ul{
    background: linear-gradient(#04C4D9, #84B1D9);
    margin: 0;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}
nav > ul li{
    padding: 10px 0 10px 40px;
}
nav ul a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}
nav ul li:hover{
    background: #0490B0;
    color: #FF5000;
}
nav ul li:active{
    background: #025E73;
}
.hamburger__icon{
    font-size: 40px;
    position: relative;
    left: 9px;
    top: 5px;
    cursor: pointer;
}
#hamburger-menu{
    display: none;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
.ul-active{
    text-decoration: underline;
}

/*--------Top Page----------*/
.topPage{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: url(images/Group%207.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.topPage__h1, .topPage__h2{
    flex: 100%;
    text-align: center;
}

/*--------Footer----------*/
.footer{
    background-color: #025E73;
    padding-left: 60px;    
}
.logo__footer{
    float: none;
    position: relative;
    margin: 15px 0;
}
.redHR__footer{
    margin-left: auto;
    position: absolute;
    left: 0px;
}
.greyHR{
    height: 5px;
    width: 90%;
    background-color: grey;
    border-radius: 100px;
    margin: 20px;
}
.footer__rights{
    margin-left: -60px;
    width: auto;
    text-align: center;
}
.footer__rights p{
    margin: 0;
}
.footer__socialMedia{
    display: flex;
    list-style-type: none;
    
}
.footer__socialMedia li img{
    width: 30px;
    margin: 15px 15px 15px 0;
}
/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/



/*----------------------HOME PAGE----------*/
/*--------Special Deal----------*/

.specialDeal{
    background-color: #84B1D9;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.specialDeal__family{
    background-color: white;
    width: 150px;
    height: 60px;
    border: 1px solid black;
}
.specialDeal__family p{
    font-size: 1.3em;
    margin: auto;
    padding: 5px;
}

/*--------Category----------*/
.category{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}
.category h2, .category a{
    flex: 100%;
    text-align: center;
}
.redHR__category{
    position: absolute;
    left: -10px;
    bottom: 10px;
}
/*--------Check us out----------*/
.checkUsOut{
    background-color: #84B1D9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.checkUsOut p, .checkUsOut h2, .checkUsOut ul{
    flex: 100%;
    text-align: center;
}
.redHR__checkUsOut{
    margin-right: auto;
    position: relative;
    right: 10px;
}
/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/




/*----------------------VISIT----------*/
/*--------Hero Image----------*/
.topPage-heroImage{
    background-image:url(images/Group%205.png);
}

/*--------Exhibition----------*/
.exhibition{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 80px 10px;
}
.exhibition p{
    max-width: 80%;
}
.redHR__exhibition{
    width: 250px;
}

/*--------Open Hours----------*/
.openHours{
    display: flex;
    flex-direction: column;
    align-items: center; 

}
.openHours ul{
    list-style-type: none;
}
.openHours ul li{
    color: #025E73;
    margin: 10px;
}
.openHours ul li:last-child{
    color: red;
}

/*--------Prices----------*/
.visit__info{
    background: #84B1D9;
}
.prices{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prices ul{
    list-style-type: none;
    margin: 30px;
}
.prices ul li{
    margin: 10px;
}
.familyDeal{
    background: #04C4D9;
    border-radius: 50px;
    width: 95%;
    box-shadow: 0px 0px 5px;
    text-align: center;
}
/*--------Google map----------*/
.visit__map{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map{
    width: 90%;
    height: 400px;
    margin: 30px 0 60px 0;
}
/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/




/*----------------------TICKETS PAGE 1----------*/

/*--------Tickets Page----------*/
.ticketsPage{
    background: linear-gradient(#04C4D9, #84B1D9);

}
/*--------Top Page----------*/
.topPage-tickets{
    background-image: url(images/Group%206.png);
}
.tickets__form-container{
    height: 700px;
}
.tickets__form-container > div{
    display: flex;
    justify-content: center;
}
.tickets__form-container > h2{
    text-align: center;
}
/*--------Ticket Form----------*/
.tickets__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: 400px;
    margin: auto;
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    background: white;
}
.tickets__form label{
    margin: 40px 0 3px 0;
}
.button-ticketsForm{
    border-radius: 5px;
    height: 30px;
    width: 120px;
    margin: 50px 0 0 0;
}
.tickets__form a{
    margin-left: auto;
}
.tickets__form select{
    border: 2px solid grey;
    border-radius: 5px;
    width: 45px;
    height: 25px;
}
.tickets__form > input{
    border: 2px solid grey;
    border-radius: 5px;
    width: 150px;
    height: 25px;
}
.prices-tickets{
    background: white;
}
/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*----------------------TICKETS PAGE 2----------*/
.tickets__form-container form{
    padding-top: 50px;
}
.tickets__form-2{
    height: 450px;
}
.tickets__form-2 > input{
    width: 250px;
}
.button-ticketsForm-2{
    margin: 30px 0 0 60px;
}

/*----------------------TICKETS PAGE 3----------*/
.tickets__form-3{
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tickets__form-3 > label{
    flex: 100%;
}
#expirationDate-month{
    width: 50px;
}
#expirationDate-year{
    width: 100px;
}
.extraSpace{
    width: 30px;
}
.extraSpace2{
    flex: 20%;
}
#nameOnCard, #creditCardNumber{
    width: 250px;
}
#securityCode{
    width: 50px;
}
.extraSpace3{
    flex: 60%;
}
.tickets__form-3 input:last-child{
    height: 30px;
    margin: 0 0 10px auto;
    width: 120px;
}


/*----------------------ABOUT----------*/
/*--------Top Page----------*/
.topPage-about{
    background-image: url(images/Group%203.png);
}
.history{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.history h2{
}
.history p{
    max-width: 80%;
}
.history img{
    margin: 10px;
}
.about__article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__article p{
    max-width: 80%;
}
/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/




/*----------------------CONTACT----------*/
.contact{
    background: linear-gradient(#04C4D9, #84B1D9);
    height: 1200px;
}

/*--------Top Page----------*/
.topPage-contact{
    background-image: url(images/Group%204.png);
}


/*--------Contact Form----------*/
.contact__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    background: white;
    margin: auto;
    margin-top: 90px;
}
.contact__form ul li{
    margin: 17px;

}
.contact__form-input{
    width: 80%;
    height: 36px;
    margin: 10px 0;
    border: 1.5px solid black;
    border-radius: 5px;
}
.contact__form-message{
    height: 100px;
    resize: none;
}
.button-contactForm{
    box-shadow: 0px 0px 3px;
}
/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/



/*----------------------MEDIA QUERIES----------*/
/*--------Navbar----------*/


/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

