/* Color Palette
#04C4D9 - Blue
#025E73 - Dark blue
#84B1D9 - Light blue
#F28080 - Red
#F5F5F5 - Light white
#1D1D1D - Light black

linear-gradient(#04C4D9, #84B1D9) - Blue/Dark blue
linear-gradient(#63EFFF, #D1E9FF) - Lighter Blue/Dark blue
*/


/*----------------------GLOBAL----------*/
/*--------Global----------*/
body, header, main, footer, ul{
    margin: 0px;
    padding: 0px;
}
h1{
    color: white;
    font-size: 2.5em;
}
h2{
    color: #04C4D9;
    font-size: 1.7em;
    text-align: center;
}
h3{
    font-size: 1.3em;
    text-align: center;
}
*{
    box-sizing: border-box
}
p, input{
    font-size: 16px;
}
label{
    font-size: 0.8em;
}

/*--------HR----------*/
.redHR{
    height: 5px;
    width: 150px;
    background-color: #F28080;
    border-radius: 100px;
}
/*--------Buttons----------*/
.button{
    border-radius: 5px;
    height: 52px;
    width: 180px;
    background: linear-gradient(#04C4D9, #84B1D9);
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    box-shadow: 0px 0px 5px;
    margin: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    outline: none;
}
.button-small{
    width: 150px;
    height: 42px;
}
.button:hover{
    background: linear-gradient(#63EFFF, #D1E9FF);
}
.button:active{
    background: linear-gradient(#037F8C, #56738C);
}
/*--------Header----------*/
.header{
    position: relative;
}
.logo{
    width: 75px;
    float: right;
    position: absolute;
    right: 0px;
    margin: 7px;
}
/*--------Navbar----------*/
nav {
    display: none;
}
nav > ul{
    background: linear-gradient(#04C4D9, #84B1D9);
    margin: 0;
    list-style-type: none;
    padding: 0;
}
nav > ul li{
    padding: 10px 0 10px 40px;
}
nav ul a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}
nav ul li:hover{
    background: #0490B0;
    color: #FF5000;
}
nav ul li:active{
    background: #025E73;
}
.hamburger__icon{
    font-size: 40px;
    position: relative;
    left: 9px;
    top: 5px;
    cursor: pointer;
}
#hamburger-menu{
    display: none;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
.ul-active{
    text-decoration: underline;
    text-decoration-color: #F28080;
}

/*--------Flexbox----------*/
.topPage, .category, .checkUsOut, .exhibition, .openHours, .prices, .visit__map, .tickets__form-container > div, .tickets__form, .tickets__form-3, .history, .about__article, .contact__form{
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*--------Top Page----------*/
.topPage{
    background-image: url(images/Group%207.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.topPage__h1, .topPage__h2{
    text-align: center;
}

/*--------Footer----------*/
.footer{
    background-color: #025E73;
    padding-left: 60px;    
}
.footer h2{
    text-align: left;
}
.footer p{
    color: #f5f5f5;
}
.footer a{
    color: #f5f5f5;
}
.logo__footer{
    float: none;
    position: relative;
    margin: 15px 0;
}
.redHR__footer{
    margin-left: auto;
    position: absolute;
    left: 0px;
}
.greyHR{
    height: 5px;
    width: 90%;
    background-color: grey;
    border-radius: 100px;
    margin: 20px 0;
}
.footer__rights{
    margin-left: -60px;
    width: auto;
    text-align: center;
}
.footer__rights p{
    margin: 0;
    padding-bottom: 20px;
}
.footer__socialMedia{
    display: flex;
    display:-webkit-flex;
    list-style-type: none;
}
.footer__socialMedia li img{
    width: 30px;
    margin: 15px 15px 15px 0;
}
.footer__socialMedia li:last-child img{
    margin-right: 0px;
}
/*----------------------HOME PAGE----------*/
/*--------Special Deal----------*/
.specialDeal a{
    text-decoration: none;
}
.specialDeal__container{
    background: #84B1D9;
    height: 100px;
    display: flex;
    display:-webkit-flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
}
.specialDeal__container:hover{
    background: #05E6FF;
    cursor: pointer;
}
.specialDeal__container:active{
    background: #04ADBF;
    transition: none;
}
.specialDeal p{
    font-size: 1.3em;
    margin-left: 20px;
}
.specialDeal img{
    position: absolute;
    right: 0px;
    width: 30px;
    margin-right: 50px;
}

/*--------Category----------*/
.category{
    position: relative;
    padding: 40px;
}
.category img{
    height: 250px;
    width: 300px;
}
.category h2, .category a{
    flex: 100%;
    text-align: center;
}
.redHR__category{
    position: absolute;
    left: -10px;
    bottom: 10px;
}
/*--------Check us out----------*/
.checkUsOut{
    background-color: #84B1D9;
}
.checkUsOut p, .checkUsOut h2, .checkUsOut ul{
    flex: 100%;
    text-align: center;
    color: #1d1d1d;
}
.checkUsOut a{
    margin-bottom: 40px;
}
.checkUsOut > img{
    width: 70%;
    max-width: 500px;
    margin-bottom: 50px;

}
.redHR__checkUsOut{
    margin-right: auto;
    position: relative;
    right: 10px;
}

/*----------------------VISIT----------*/
/*--------Hero Image----------*/
.topPage-visit{
    background-image:url(images/Group%205.png);
    align-items: center;
}

/*--------Exhibition----------*/
.exhibition{
    margin: 80px 40px;
}
.exhibition img{
    height: 250px;
    width: 300px;
}
.exhibition p{
    max-width: 80%;
}
.redHR__exhibition{
    width: 250px;
    margin-top: 50px;
}

/*--------Open Hours----------*/
.openHours{
    padding-bottom: 50px;
}
.openHours h2{
    color: #1d1d1d;
}
.openHours ul{
    list-style-type: none;
}
.openHours ul li{
    color: #2b2b2b;
    margin: 10px;
}
.openHours ul li:last-child{
    text-decoration: underline;
    text-decoration-color: red;
}

/*--------Prices----------*/
.visit__info{
    background: #84B1D9;
}
.prices h2{
    color: #1d1d1d;
}
.prices ul{
    list-style-type: none;
    margin: 30px;
}
.prices ul li{
    margin: 10px;
}
.familyDeal{
    background: #04C4D9;
    border-radius: 10px;
    width: 95%;
    max-width: 400px;
    box-shadow: 0px 0px 5px;
    text-align: center;
}
/*--------Google map----------*/
.map{
    width: 90%;
    height: 400px;
    margin: 30px 0 60px 0;
}



/*----------------------TICKETS PAGE 1----------*/

/*--------Tickets Page----------*/
.ticketsPage{
    background: linear-gradient(#04C4D9, #84B1D9);

}
/*--------Top Page----------*/
.topPage-tickets{
    background-image: url(images/Group%206.png);
}
.tickets__form-container{
    height: 700px;
}
.tickets__form-container > h2{
    text-align: center;
    color: #272727;
}
/*--------Ticket Form----------*/
.tickets__form{
    position: relative;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    background: white;
}
.tickets__form label{
    margin: 40px 0 3px 0;
}
.hintBox__text{
    display: none;
}
.hintBox{
    display: none;
}
.hintbox__label{
    position: absolute;
    left: 100px;
    top: 170px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 7px;
    background: lightblue;
    font-size: 15px;
}
#hintbox:checked ~ .hintbox__text::after {
    content: "1 Family ticket = 2 Children tickets and 2 Adults tickets";
}
.visually-hidden {
    position: absolute;
    left: 50px;
    width: 50px;
    opacity: 0;
}

.button-ticketsForm{
    border-radius: 5px;
    height: 30px;
    width: 120px;
    margin: 50px 0 20px 0;
}
.tickets__form a{
    margin-left: auto;
}
.tickets__form select{
    border: 2px solid grey;
    border-radius: 5px;
    width: 55px;
    font-size: 1em;
}
.tickets__form > input{
    border: 2px solid grey;
    border-radius: 5px;
    height: 25px;
}
.prices-tickets{
    background: white;
}
/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*----------------------TICKETS PAGE 2----------*/
.ticketsPage h2{
    margin: 0;
    padding: 20px;
}
.tickets__form-container form{
    padding-top: 50px;
}
.tickets__form-2 > input, .tickets__form-3 > input{
    width: 80%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0px;
    outline: none;   
    transition: all 0.3s;
}
.tickets__form-2 > input:focus, .tickets__form-3 > input:focus{
    border-bottom: 4px solid #F28080;
    width: 100%;

}
.button-ticketsForm-2{
    margin: 30px 0 20px 60px;
}

/*----------------------TICKETS PAGE 3----------*/
.tickets__form-3{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tickets__form-3 > label{
    flex: 100%;
}
#expirationDate-month, #securityCode{
    width: 50px;
}

#expirationDate-year{
    width: 90px;
}
#expirationDate-month:focus, #securityCode:focus{
    width: 70px;
}

#expirationDate-year:focus{
    width: 120px;
}
.extraSpace{
    width: 30px;
}
.extraSpace2{
    flex: 20%;
}
.extraSpace3{
    flex: 100%;
}
.tickets__form-3 input:last-child{
    height: 30px;
    margin: 20px 0 10px auto;
    width: 120px;
}

/*----------------------PRICES----------*/
/*--------Hero Image----------*/
.topPage-prices{
    background-image:url(images/Group-14.jpg);
    align-items: center;
}



/*----------------------ABOUT----------*/
/*--------Top Page----------*/
.topPage-about{
    background-image: url(images/Group%203.png);
}
.about__img{
    width: 70%;
}
.history h2{
}
.history p{
    max-width: 80%;
}
.history img{
    margin: 10px;
}
.about__article p{
    max-width: 80%;
}


/*----------------------CONTACT----------*/
.contact{
    background: linear-gradient(#04C4D9, #84B1D9);
    padding-bottom: 100px;
}

/*--------Top Page----------*/
.topPage-contact{
    background-image: url(images/Group%204.png);
}


/*--------Contact Form----------*/
.contact__form{
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    background: white;
    margin: auto;
    margin-top: 90px;
}
.contact__form ul{
    list-style-type: none;
    text-align: center;
}
.contact__form ul li{
    margin: 17px;

}
.contact__form-input{
    width: 80%;
    height: 36px;
    margin: 10px 0;
    border: 1.5px solid black;
    border-radius: 5px;
}
.contact__form-message{
    height: 100px;
    resize: none;
}
.button-contactForm{
    box-shadow: 0px 0px 3px;
}


/*----------------------MEDIA QUERIES----------*/
@media only screen and (min-width: 600px){
    body{
        font-size: 18px;
    }
    .specialDeal__container{
        justify-content: center;
    }
    .specialDeal p{
        font-size: 2.3em;
    }
    .category, .exhibition{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr auto 1fr;
        column-gap: 20px;
    }
    .category img, .exhibition img{
        grid-row-start: 1;
        grid-row-end: 4;
        height: auto;
        width: 90%;
    }
    .category h2, .exhibition h2{
        grid-area: 1 / 2 / 2 / 3;
        align-self: end;
    }
    .category p, .exhibition p{
        grid-area: 2 / 2 / 3 / 3;
        text-align: center;
        justify-self: center;
        width: 80%;
    }
    .category a, .exhibition a{
        grid-area: 3 / 2 / 4 / 3;
        align-self: start;
        justify-self: center;
    }
    .category-2 img, .exhibition-2 img{
        grid-column: 2 / 3;     
    }
    .category-2 h2, .exhibition-2 h2{
        grid-column: 1 / 2;
    }
    .category-2 p, .exhibition-2 p{
        grid-column: 1 / 2;
    }
    .category-2 a, .exhibition-2 a{
        grid-column: 1 / 2;
    }
    .exhibition p{
        text-align: start;
    }
    .redHR{
        width: 100%;
        opacity: 0;
    }
    .redHR__footer {
        position: relative;
    }
    .exhibition__text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }
    .openHours{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .openHours h2{
        flex: 100%;
    }
    .hamburger__icon{
        display: none;
    }
    nav{
        display: block;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        padding-right: 100px;
        background: #105e73;
    }
    nav ul li{
        padding: 20px;
        color: #e2e2e2;
        transition: 0.3s color;
    }
    nav ul li:hover{
        background: none;
        color: #FF5000;
    }
    nav ul li:active{
        background: none;
    }



    .tickets__form{
        max-width: 400px;
    }


    .contact__form{
        max-width: 600px;
    }

    .topPage{
        background-image: url(images/rover.jpg);
    }
    .topPage-visit{
        background-image: url(images/space-woman.jpg);
    }
    .topPage-tickets{
        background-image: url(images/lab-people.jpg);
    }
    .topPage-prices{
        background-image: url(images/globus.jpg);
    }
    .topPage-about{
        background-image: url(images/reagent-tubes.jpg);

    }
    .topPage-contact{
        background-image: url(images/universe.jpg);
    }
    
    .hintbox-mobile{
        display: none;
    }
    .hintBox{
        display: block;
        position: absolute;
        left: 100px;
        width: 1.25em;
        text-align: center;
        border: 1px solid black;
        border-radius: 50px;
        background: lightblue;
    }
    .hintBox__text{
        display: block;
        visibility: hidden;
        width: 250px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .hintBox:hover .hintBox__text{
        visibility: visible;
        opacity: 1;
    }


}


@media only screen and (min-width: 1024px) and (max-width: 1439px){
    .topPage{
        height: 700px;
    }
    body{
        font-size: 20px;
    }
    .hintBox{
        left: 120px;
    }
}

@media only screen and (min-width: 1439px){
    .topPage{
        height: 1000px;
    }
    body{
        font-size: 24px;
    }
    .hintBox{
        left: 130px;
    }
}
/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

/*--------Navbar----------*/

